Repository rhdhorchestrator/orchestrator-fbc: changes, and which Tekton pipelines are due for each by the changed paths.
All: fbc-v4-14-on-pull-request, fbc-v4-15-on-pull-request

Path conditions:
  fbc-v4-14-on-pull-request: (any of: v4.14/***) or (any of: .tekton/fbc-v4-14-pull-request.yaml)
  fbc-v4-15-on-pull-request: (any of: v4.15/***) or (any of: .tekton/fbc-v4-15-pull-request.yaml)

Fix oci storge
  .tekton/fbc-v4-13-pull-request.yaml
  .tekton/fbc-v4-13-push.yaml
  .tekton/fbc-v4-14-pull-request.yaml
  .tekton/fbc-v4-14-push.yaml
  .tekton/fbc-v4-15-pull-request.yaml
  .tekton/fbc-v4-15-push.yaml
Due: fbc-v4-14-on-pull-request, fbc-v4-15-on-pull-request

add SOURCE_ARTIFACT
  .tekton/fbc-v4-13-pull-request.yaml
  .tekton/fbc-v4-13-push.yaml
  .tekton/fbc-v4-14-pull-request.yaml
  .tekton/fbc-v4-14-push.yaml
  .tekton/fbc-v4-15-pull-request.yaml
  .tekton/fbc-v4-15-push.yaml
Due: fbc-v4-14-on-pull-request, fbc-v4-15-on-pull-request

add prefetch-dependencies
  .tekton/fbc-v4-13-pull-request.yaml
Due: none

remove source output workspace
  .tekton/fbc-v4-13-pull-request.yaml
  .tekton/fbc-v4-13-push.yaml
  .tekton/fbc-v4-14-pull-request.yaml
  .tekton/fbc-v4-14-push.yaml
  .tekton/fbc-v4-15-pull-request.yaml
  .tekton/fbc-v4-15-push.yaml
Due: fbc-v4-14-on-pull-request, fbc-v4-15-on-pull-request

Copy fixes to all other pipelines
  .tekton/fbc-v4-13-push.yaml
  .tekton/fbc-v4-14-pull-request.yaml
  .tekton/fbc-v4-14-push.yaml
  .tekton/fbc-v4-15-pull-request.yaml
  .tekton/fbc-v4-15-push.yaml
Due: fbc-v4-14-on-pull-request, fbc-v4-15-on-pull-request

expose directory structure in build
  .tekton/fbc-v4-14-pull-request.yaml
Due: fbc-v4-14-on-pull-request

Add source artifact to extract digest
  .tekton/fbc-v4-13-pull-request.yaml
  .tekton/fbc-v4-14-pull-request.yaml
  .tekton/fbc-v4-15-pull-request.yaml
Due: fbc-v4-14-on-pull-request, fbc-v4-15-on-pull-request

remove references to workspaces
  .tekton/fbc-v4-13-pull-request.yaml
  .tekton/fbc-v4-14-pull-request.yaml
  .tekton/fbc-v4-15-pull-request.yaml
Due: fbc-v4-14-on-pull-request, fbc-v4-15-on-pull-request

remove workspace from extract
  .tekton/fbc-v4-14-pull-request.yaml
Due: fbc-v4-14-on-pull-request

cat bundle files
  v4.14/catalog.Dockerfile
Due: fbc-v4-14-on-pull-request

Use emptyDir for common workspace
  .tekton/fbc-v4-14-pull-request.yaml
Due: fbc-v4-14-on-pull-request

Remove prefetch-dependencies
  .tekton/fbc-v4-14-pull-request.yaml
  v4.14/catalog.Dockerfile
Due: fbc-v4-14-on-pull-request

list root dir
  v4.14/catalog.Dockerfile
Due: fbc-v4-14-on-pull-request

List contents of /tmp after the COPY command in Dockerfile
  v4.14/catalog.Dockerfile
Due: fbc-v4-14-on-pull-request

Extract local task to file
  .tekton/task-extract-controller-image-name.yaml
Due: none

use taskRef to reference task and cleanup manifests to align to v4.14 on pull
  .tekton/fbc-v4-13-pull-request.yaml
  .tekton/fbc-v4-13-push.yaml
  .tekton/fbc-v4-14-pull-request.yaml
  .tekton/fbc-v4-14-push.yaml
  .tekton/fbc-v4-15-pull-request.yaml
  .tekton/fbc-v4-15-push.yaml
Due: fbc-v4-14-on-pull-request, fbc-v4-15-on-pull-request

list files in /configs
  v4.14/catalog.Dockerfile
Due: fbc-v4-14-on-pull-request

Release 1.2.0-rc6
  generate-fbc.sh
  v4.13/catalog/orchestrator-operator/catalog.yaml
  v4.13/graph.yaml
  v4.14/catalog/orchestrator-operator/catalog.yaml
  v4.14/devfile.yaml
  v4.14/graph.yaml
  v4.15/catalog/orchestrator-operator/catalog.yaml
  v4.15/graph.yaml
Due: fbc-v4-14-on-pull-request, fbc-v4-15-on-pull-request

Update operator-bundle to 23d11fd
  v4.13/catalog/orchestrator-operator/catalog.yaml
  v4.13/graph.yaml
  v4.14/catalog/orchestrator-operator/catalog.yaml
  v4.14/graph.yaml
  v4.15/catalog/orchestrator-operator/catalog.yaml
  v4.15/graph.yaml
Due: fbc-v4-14-on-pull-request, fbc-v4-15-on-pull-request

Update operator-bundle to e819612
  v4.13/catalog/orchestrator-operator/catalog.yaml
  v4.13/graph.yaml
  v4.14/catalog/orchestrator-operator/catalog.yaml
  v4.14/graph.yaml
  v4.15/catalog/orchestrator-operator/catalog.yaml
  v4.15/graph.yaml
Due: fbc-v4-14-on-pull-request, fbc-v4-15-on-pull-request

Release 1.2.0-rc9
  v4.13/catalog/orchestrator-operator/catalog.yaml
  v4.13/graph.yaml
  v4.14/catalog/orchestrator-operator/catalog.yaml
  v4.14/graph.yaml
  v4.15/catalog/orchestrator-operator/catalog.yaml
  v4.15/graph.yaml
Due: fbc-v4-14-on-pull-request, fbc-v4-15-on-pull-request

Release for OCP v4.14 using registry.stage.redhat.io for controller and bundle
  v4.14/catalog/orchestrator-operator/catalog.yaml
  v4.14/graph.yaml
Due: fbc-v4-14-on-pull-request

Release 1.2.0-rc9 to production
  v4.13/catalog/orchestrator-operator/catalog.yaml
  v4.13/graph.yaml
  v4.14/catalog/orchestrator-operator/catalog.yaml
  v4.14/graph.yaml
  v4.15/catalog/orchestrator-operator/catalog.yaml
  v4.15/graph.yaml
Due: fbc-v4-14-on-pull-request, fbc-v4-15-on-pull-request

Fix lowercase add for generated dockerfile in generate-fbc.sh script
  generate-fbc.sh
Due: none

Release 1.2.0-rc10 staging
  v4.13/catalog/orchestrator-operator/catalog.yaml
  v4.13/graph.yaml
  v4.14/catalog/orchestrator-operator/catalog.yaml
  v4.14/graph.yaml
  v4.15/catalog/orchestrator-operator/catalog.yaml
  v4.15/graph.yaml
Due: fbc-v4-14-on-pull-request, fbc-v4-15-on-pull-request

4.15: tweak dockerfile catalog path entry
  v4.15/catalog.Dockerfile
Due: fbc-v4-15-on-pull-request

Release 1.2.0-rc11 for staging
  v4.13/catalog/orchestrator-operator/catalog.yaml
  v4.13/graph.yaml
  v4.14/catalog/orchestrator-operator/catalog.yaml
  v4.14/graph.yaml
  v4.15/catalog/orchestrator-operator/catalog.yaml
  v4.15/graph.yaml
Due: fbc-v4-14-on-pull-request, fbc-v4-15-on-pull-request

Release 1.2.0-r11 for production OCP 4.13, 4.14 and 4.15
  v4.13/catalog/orchestrator-operator/catalog.yaml
  v4.13/graph.yaml
  v4.14/catalog/orchestrator-operator/catalog.yaml
  v4.14/graph.yaml
  v4.15/catalog/orchestrator-operator/catalog.yaml
  v4.15/graph.yaml
Due: fbc-v4-14-on-pull-request, fbc-v4-15-on-pull-request

Use a specific graph.yaml file for prod and staging environment
  generate-fbc.sh
  v4.13/catalog/orchestrator-operator/catalog.yaml
  v4.13/graph.prod.yaml
  v4.13/graph.stage.yaml
  v4.14/catalog/orchestrator-operator/catalog.yaml
  v4.14/graph.prod.yaml
  v4.14/graph.stage.yaml
  v4.15/catalog/orchestrator-operator/catalog.yaml
  v4.15/graph.prod.yaml
  v4.15/graph.stage.yaml
Due: fbc-v4-14-on-pull-request, fbc-v4-15-on-pull-request

Release staging 1.2.0-rc14
  v4.13/catalog/orchestrator-operator/catalog.yaml
  v4.13/graph.stage.yaml
  v4.14/catalog/orchestrator-operator/catalog.yaml
  v4.14/graph.stage.yaml
  v4.15/catalog/orchestrator-operator/catalog.yaml
  v4.15/graph.stage.yaml
Due: fbc-v4-14-on-pull-request, fbc-v4-15-on-pull-request

Release 1.2.0 production
  v4.13/catalog/orchestrator-operator/catalog.yaml
  v4.13/graph.prod.yaml
  v4.14/catalog/orchestrator-operator/catalog.yaml
  v4.14/graph.prod.yaml
  v4.15/catalog/orchestrator-operator/catalog.yaml
  v4.15/graph.prod.yaml
Due: fbc-v4-14-on-pull-request, fbc-v4-15-on-pull-request

Revert graph prod and stage split
  generate-fbc.sh
  v4.13/graph.stage.yaml
  v4.13/graph.yaml
  v4.14/graph.stage.yaml
  v4.14/graph.yaml
  v4.15/graph.stage.yaml
  v4.15/graph.yaml
Due: fbc-v4-14-on-pull-request, fbc-v4-15-on-pull-request

orchestrator release for 1.2.1
  v4.13/catalog/orchestrator-operator/catalog.yaml
  v4.13/graph.yaml
  v4.14/catalog/orchestrator-operator/catalog.yaml
  v4.14/graph.yaml
  v4.15/catalog/orchestrator-operator/catalog.yaml
  v4.15/graph.yaml
Due: fbc-v4-14-on-pull-request, fbc-v4-15-on-pull-request

updated the bundle image for release 1.2.1
  v4.13/catalog/orchestrator-operator/catalog.yaml
  v4.13/graph.yaml
  v4.14/catalog/orchestrator-operator/catalog.yaml
  v4.14/graph.yaml
  v4.15/catalog/orchestrator-operator/catalog.yaml
  v4.15/graph.yaml
Due: fbc-v4-14-on-pull-request, fbc-v4-15-on-pull-request

updated base image to v4.15
  v4.15/catalog.Dockerfile
Due: fbc-v4-15-on-pull-request

orchestrator release for 1.2.1 (#105)
  v4.13/catalog/orchestrator-operator/catalog.yaml
  v4.13/graph.yaml
  v4.14/catalog/orchestrator-operator/catalog.yaml
  v4.14/graph.yaml
  v4.15/catalog.Dockerfile
  v4.15/catalog/orchestrator-operator/catalog.yaml
  v4.15/graph.yaml
Due: fbc-v4-14-on-pull-request, fbc-v4-15-on-pull-request

updated bundle image for prod release 1.2.1
  v4.13/catalog/orchestrator-operator/catalog.yaml
  v4.13/graph.yaml
  v4.14/catalog/orchestrator-operator/catalog.yaml
  v4.14/graph.yaml
  v4.15/catalog/orchestrator-operator/catalog.yaml
  v4.15/graph.yaml
Due: fbc-v4-14-on-pull-request, fbc-v4-15-on-pull-request

Red Hat Konflux purge fbc-v4-14 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/fbc-v4-14-pull-request.yaml
  .tekton/fbc-v4-14-push.yaml
Due: fbc-v4-14-on-pull-request

Red Hat Konflux purge fbc-v4-13 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/fbc-v4-13-pull-request.yaml
  .tekton/fbc-v4-13-push.yaml
Due: none
