Repository rhdhorchestrator/orchestrator-fbc: changes, and which Tekton pipelines are due for each by the changed paths.
All: fbc-v4-14-on-pull-request, fbc-v4-14-on-push, fbc-v4-15-on-pull-request

Path conditions:
  fbc-v4-14-on-pull-request: (any of: v4.14/***) or (any of: .tekton/fbc-v4-14-pull-request.yaml)
  fbc-v4-14-on-push: (any of: v4.14/***) or (any of: .tekton/fbc-v4-14-pull-request.yaml)
  fbc-v4-15-on-pull-request: (any of: v4.15/***) or (any of: .tekton/fbc-v4-15-pull-request.yaml)

Update build image spec to align with ImageRepo for FBC v4.13,v4.14,v4.15, and v4.16
  .tekton/fbc-v4-13-pull-request.yaml
  .tekton/fbc-v4-13-push.yaml
  .tekton/fbc-v4-14-pull-request.yaml
  .tekton/fbc-v4-14-push.yaml
  .tekton/fbc-v4-15-pull-request.yaml
  .tekton/fbc-v4-15-push.yaml
  .tekton/fbc-v4-16-pull-request.yaml
  .tekton/fbc-v4-16-push.yaml
Due: fbc-v4-14-on-pull-request, fbc-v4-14-on-push, fbc-v4-15-on-pull-request

Add bundle image for 1.3.1
  v4.16/catalog/orchestrator-operator/catalog.yaml
  v4.16/graph.yaml
Due: none

added missing params
  .tekton/fbc-v4-14-pull-request.yaml
  .tekton/fbc-v4-14-push.yaml
Due: fbc-v4-14-on-pull-request, fbc-v4-14-on-push

removed ecosystem-cert-preflight-checks task
  .tekton/fbc-v4-13-pull-request.yaml
  .tekton/fbc-v4-13-push.yaml
  .tekton/fbc-v4-14-pull-request.yaml
  .tekton/fbc-v4-14-push.yaml
  .tekton/fbc-v4-15-pull-request.yaml
  .tekton/fbc-v4-15-push.yaml
  .tekton/fbc-v4-16-pull-request.yaml
  .tekton/fbc-v4-16-push.yaml
Due: fbc-v4-14-on-pull-request, fbc-v4-14-on-push, fbc-v4-15-on-pull-request

updated image and url key names
  .tekton/fbc-v4-14-pull-request.yaml
  .tekton/fbc-v4-14-push.yaml
Due: fbc-v4-14-on-pull-request, fbc-v4-14-on-push

added new validate-fbc task for v4-14 pipeline
  .tekton/fbc-v4-14-pull-request.yaml
  .tekton/fbc-v4-14-push.yaml
Due: fbc-v4-14-on-pull-request, fbc-v4-14-on-push

added pipeline and fbc config for ocp 4.17
  .tekton/fbc-v4-17-pull-request.yaml
  .tekton/fbc-v4-17-push.yaml
  v4.17/catalog.Dockerfile
  v4.17/catalog/orchestrator-operator/catalog.yaml
  v4.17/devfile.yaml
  v4.17/graph.yaml
  v4.17/v4.17/.empty
Due: none

Red Hat Konflux update fbc-v4-17 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/fbc-v4-17-pull-request.yaml
  .tekton/fbc-v4-17-push.yaml
Due: none

added validate-fbc task for 4.17 pull pipeline
  .tekton/fbc-v4-17-pull-request.yaml
Due: none

added validate-fbc task for 4.16 push pipeline
  .tekton/fbc-v4-16-pull-request.yaml
  .tekton/fbc-v4-16-push.yaml
Due: none

added validate-fbc task for 4.15 pipeline
  .tekton/fbc-v4-15-pull-request.yaml
  .tekton/fbc-v4-15-push.yaml
Due: fbc-v4-15-on-pull-request

generate catalog.yaml for v4.14
  v4.14/catalog/orchestrator-operator/catalog.yaml
Due: fbc-v4-14-on-pull-request, fbc-v4-14-on-push

updated/moved validate-fbc task for 4.14 pipelines
  .tekton/fbc-v4-14-pull-request.yaml
  .tekton/fbc-v4-14-push.yaml
Due: fbc-v4-14-on-pull-request, fbc-v4-14-on-push

added validate-fbc task for 4.13 pipelines
  .tekton/fbc-v4-13-pull-request.yaml
  .tekton/fbc-v4-13-push.yaml
Due: none

Add bundle image 4.15 for prod
  v4.15/catalog/orchestrator-operator/catalog.yaml
  v4.15/graph.yaml
Due: fbc-v4-15-on-pull-request

Add bundle image 4.16 for prod
  v4.16/catalog/orchestrator-operator/catalog.yaml
  v4.16/graph.yaml
Due: none

Add bundle image 4.14 for prod
  v4.14/catalog/orchestrator-operator/catalog.yaml
  v4.14/graph.yaml
Due: fbc-v4-14-on-pull-request, fbc-v4-14-on-push

Add bundle image 4.13 for prod
  v4.13/catalog/orchestrator-operator/catalog.yaml
  v4.13/graph.yaml
Due: none

removed duplicated validate-fbc task
  .tekton/fbc-v4-14-push.yaml
Due: none

Revert "Add bundle image 4.13 for prod"
  v4.13/catalog/orchestrator-operator/catalog.yaml
  v4.13/graph.yaml
Due: none

Regenerate catalog.yaml for 4.13
  v4.13/catalog/orchestrator-operator/catalog.yaml
Due: none

updated task reference and migration for v4.16 pipelines
  .tekton/fbc-v4-16-pull-request.yaml
  .tekton/fbc-v4-16-push.yaml
Due: none

updated task reference and migration for v4.15 pipelines
  .tekton/fbc-v4-15-pull-request.yaml
  .tekton/fbc-v4-15-push.yaml
Due: fbc-v4-15-on-pull-request

updated task reference and migration for v4.14 pipelines
  .tekton/fbc-v4-14-pull-request.yaml
  .tekton/fbc-v4-14-push.yaml
Due: fbc-v4-14-on-pull-request, fbc-v4-14-on-push

updated task reference and migration for v4.13 pipelines
  .tekton/fbc-v4-13-pull-request.yaml
  .tekton/fbc-v4-13-push.yaml
Due: none

Added fbc fips check task for v4.14
  .tekton/fbc-v4-14-pull-request.yaml
  .tekton/fbc-v4-14-push.yaml
Due: fbc-v4-14-on-pull-request, fbc-v4-14-on-push

Added fbc fips check task for v4.15
  .tekton/fbc-v4-15-pull-request.yaml
  .tekton/fbc-v4-15-push.yaml
Due: fbc-v4-15-on-pull-request

Added fbc fips check task for v4.16
  .tekton/fbc-v4-16-pull-request.yaml
  .tekton/fbc-v4-16-push.yaml
Due: none

Added fbc fips check task for v4.13
  .tekton/fbc-v4-13-pull-request.yaml
  .tekton/fbc-v4-13-push.yaml
Due: none

updated task reference and migration for v4.17 pipelines
  .tekton/fbc-v4-17-pull-request.yaml
  .tekton/fbc-v4-17-push.yaml
Due: none

Added fbc fips check task for v4.17 + update tasks sha
  .tekton/fbc-v4-17-pull-request.yaml
  .tekton/fbc-v4-17-push.yaml
Due: none

Added 1.4 fbc bundle image
  v4.17/catalog/orchestrator-operator/catalog.yaml
  v4.17/graph.yaml
Due: none

Added image mirror set for fips task
  .tekton/images-mirror-set.yaml
Due: none

Removed sha in image digest
  .tekton/images-mirror-set.yaml
Due: none

fix(CVP-4387): add fbc-target-index-pruning-check to FBC pipelines
  .tekton/fbc-v4-13-pull-request.yaml
  .tekton/fbc-v4-13-push.yaml
  .tekton/fbc-v4-14-pull-request.yaml
  .tekton/fbc-v4-14-push.yaml
  .tekton/fbc-v4-15-pull-request.yaml
  .tekton/fbc-v4-15-push.yaml
  .tekton/fbc-v4-16-pull-request.yaml
  .tekton/fbc-v4-16-push.yaml
Due: fbc-v4-14-on-pull-request, fbc-v4-14-on-push, fbc-v4-15-on-pull-request

Updated bundle image version 1.4.0 in OCP v4.17
  v4.17/catalog/orchestrator-operator/catalog.yaml
  v4.17/graph.yaml
Due: none

Updated prod bundle image version 1.4.0 in OCP v4.17
  v4.17/catalog/orchestrator-operator/catalog.yaml
  v4.17/graph.yaml
Due: none

Updated prod bundle image version 1.4.0 in OCP v4.16
  v4.16/catalog/orchestrator-operator/catalog.yaml
  v4.16/graph.yaml
Due: none
