Repository rhdhorchestrator/orchestrator-fbc: changes, and which Tekton pipelines are due for each by the changed paths.
All: fbc-v4-14-on-pull-request, fbc-v4-14-on-push, fbc-v4-15-on-pull-request

Path conditions:
  fbc-v4-14-on-pull-request: (any of: v4.14/***) or (any of: .tekton/fbc-v4-14-pull-request.yaml)
  fbc-v4-14-on-push: (any of: v4.14/***) or (any of: .tekton/fbc-v4-14-pull-request.yaml)
  fbc-v4-15-on-pull-request: (any of: v4.15/***) or (any of: .tekton/fbc-v4-15-pull-request.yaml)

Update apply task for v4.15
  .tekton/fbc-v4-15-pull-request.yaml
  .tekton/fbc-v4-15-push.yaml
Due: fbc-v4-15-on-pull-request

Update apply task for v4.16
  .tekton/fbc-v4-16-pull-request.yaml
Due: none

Update apply task for v4.16
  .tekton/fbc-v4-16-push.yaml
Due: none

Update apply task for v4.17
  .tekton/fbc-v4-17-pull-request.yaml
  .tekton/fbc-v4-17-push.yaml
Due: none

Update apply task for v4.18
  .tekton/fbc-v4-18-pull-request.yaml
  .tekton/fbc-v4-18-push.yaml
Due: none

Removed 4.13 pipeline and fbc catalog
  .tekton/fbc-v4-13-pull-request.yaml
  .tekton/fbc-v4-13-push.yaml
  v4.13/catalog.Dockerfile
  v4.13/catalog/orchestrator-operator/catalog.yaml
  v4.13/graph.yaml
  v4.13/v4.13/.empty
Due: none

Add orchestrator 1.6.0 fbc stage release for ocp 4.18
  v4.18/catalog/orchestrator-operator/catalog.yaml
  v4.18/graph.yaml
Due: none

Add orchestrator 1.6.0 fbc prod release for ocp 4.18
  v4.18/catalog/orchestrator-operator/catalog.yaml
  v4.18/graph.yaml
Due: none

Add orchestrator 1.6.0 fbc prod release for ocp 4.17
  v4.17/catalog/orchestrator-operator/catalog.yaml
  v4.17/graph.yaml
Due: none

Add orchestrator 1.6.0 fbc prod release for ocp 4.16
  v4.16/catalog/orchestrator-operator/catalog.yaml
  v4.16/graph.yaml
Due: none

Add orchestrator 1.6.0 fbc prod release for ocp 4.15
  v4.15/catalog/orchestrator-operator/catalog.yaml
  v4.15/graph.yaml
Due: fbc-v4-15-on-pull-request

Add orchestrator 1.6.0 fbc prod release for ocp 4.14
  v4.14/catalog/orchestrator-operator/catalog.yaml
  v4.14/graph.yaml
Due: fbc-v4-14-on-pull-request, fbc-v4-14-on-push

Update orchestrator 1.6.0 fbc prod release for ocp 4.16
  v4.16/graph.yaml
Due: none

Update orchestrator 1.6.0 fbc prod release for ocp 4.16
  v4.16/catalog/orchestrator-operator/catalog.yaml
Due: none

Add 1.5.2 release for stage
  v4.18/catalog/orchestrator-operator/catalog.yaml
  v4.18/graph.yaml
Due: none

Update operator v1.5.2 fbc prod for ocp 4.18
  v4.18/catalog/orchestrator-operator/catalog.yaml
  v4.18/graph.yaml
Due: none

Update operator v1.5.2 fbc prod for ocp 4.17
  v4.17/catalog/orchestrator-operator/catalog.yaml
  v4.17/graph.yaml
Due: none

Update operator v1.5.2 fbc prod for ocp 4.16
  v4.16/catalog/orchestrator-operator/catalog.yaml
  v4.16/graph.yaml
Due: none

Update operator v1.5.2 fbc prod for ocp 4.15
  v4.15/catalog/orchestrator-operator/catalog.yaml
  v4.15/graph.yaml
Due: fbc-v4-15-on-pull-request

Update operator v1.5.2 fbc prod for ocp 4.14
  v4.14/catalog/orchestrator-operator/catalog.yaml
  v4.14/graph.yaml
Due: fbc-v4-14-on-pull-request, fbc-v4-14-on-push

Update operator v1.6.1 fbc stage for ocp 4.18
  v4.18/catalog/orchestrator-operator/catalog.yaml
  v4.18/graph.yaml
Due: none

Add operator bundle v1.6.1 for ocp 4.14
  v4.14/catalog/orchestrator-operator/catalog.yaml
  v4.14/graph.yaml
Due: fbc-v4-14-on-pull-request, fbc-v4-14-on-push

Add operator bundle v1.6.1 for ocp 4.15
  v4.15/catalog/orchestrator-operator/catalog.yaml
  v4.15/graph.yaml
Due: fbc-v4-15-on-pull-request

Add operator bundle v1.6.1 for ocp 4.16
  v4.16/catalog/orchestrator-operator/catalog.yaml
  v4.16/graph.yaml
Due: none

Add operator bundle v1.6.1 for ocp 4.17
  v4.17/catalog/orchestrator-operator/catalog.yaml
  v4.17/graph.yaml
Due: none

Add operator bundle v1.6.1 for ocp 4.18
  v4.18/catalog/orchestrator-operator/catalog.yaml
  v4.18/graph.yaml
Due: none
