Repository rhdhorchestrator/orchestrator-fbc: changes, and which Tekton pipelines are due for each by the changed paths.
All: fbc-v4-14-on-pull-request, fbc-v4-14-on-push, fbc-v4-15-on-pull-request

Path conditions:
  fbc-v4-14-on-pull-request: (any of: v4.14/***) or (any of: .tekton/fbc-v4-14-pull-request.yaml)
  fbc-v4-14-on-push: (any of: v4.14/***) or (any of: .tekton/fbc-v4-14-pull-request.yaml)
  fbc-v4-15-on-pull-request: (any of: v4.15/***) or (any of: .tekton/fbc-v4-15-pull-request.yaml)

Red Hat Konflux purge fbc-v4-15 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/fbc-v4-15-pull-request.yaml
  .tekton/fbc-v4-15-push.yaml
Due: fbc-v4-15-on-pull-request

Restore tekton pipelines
  .tekton/fbc-v4-13-pull-request.yaml
  .tekton/fbc-v4-13-push.yaml
  .tekton/fbc-v4-14-pull-request.yaml
  .tekton/fbc-v4-14-push.yaml
  .tekton/fbc-v4-15-pull-request.yaml
  .tekton/fbc-v4-15-push.yaml
Due: fbc-v4-14-on-pull-request, fbc-v4-14-on-push, fbc-v4-15-on-pull-request

Red Hat Konflux update fbc-v4-15 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/fbc-v4-15-pull-request.yaml
  .tekton/fbc-v4-15-push.yaml
Due: fbc-v4-15-on-pull-request

Red Hat Konflux update fbc-v4-16 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/fbc-v4-16-pull-request.yaml
  .tekton/fbc-v4-16-push.yaml
Due: none

Red Hat Konflux update fbc-v4-13 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/fbc-v4-13-pull-request.yaml
  .tekton/fbc-v4-13-push.yaml
Due: none

Red Hat Konflux update fbc-v4-14 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/fbc-v4-14-pull-request.yaml
  .tekton/fbc-v4-14-push.yaml
Due: fbc-v4-14-on-pull-request, fbc-v4-14-on-push

bundle image for stage release-1.2.3
  v4.13/catalog/orchestrator-operator/catalog.yaml
  v4.13/graph.yaml
  v4.14/catalog/orchestrator-operator/catalog.yaml
  v4.14/graph.yaml
  v4.15/catalog/orchestrator-operator/catalog.yaml
  v4.15/graph.yaml
Due: fbc-v4-14-on-pull-request, fbc-v4-14-on-push, fbc-v4-15-on-pull-request

bundle image for prod release-1.2.3
  v4.13/catalog/orchestrator-operator/catalog.yaml
  v4.13/graph.yaml
  v4.14/catalog/orchestrator-operator/catalog.yaml
  v4.14/graph.yaml
  v4.15/catalog/orchestrator-operator/catalog.yaml
  v4.15/graph.yaml
Due: fbc-v4-14-on-pull-request, fbc-v4-14-on-push, fbc-v4-15-on-pull-request

bundle image for 1-3 + 4.16 pipelines
  .tekton/fbc-v4-16-pull-request.yaml
  .tekton/fbc-v4-16-push.yaml
  v4.14/catalog/orchestrator-operator/catalog.yaml
  v4.14/graph.yaml
  v4.15/catalog/orchestrator-operator/catalog.yaml
  v4.16/catalog.Dockerfile
  v4.16/catalog/orchestrator-operator/catalog.yaml
  v4.16/devfile.yaml
  v4.16/graph.yaml
  v4.16/v4.16/.empty
Due: fbc-v4-14-on-pull-request, fbc-v4-14-on-push, fbc-v4-15-on-pull-request

updated bundle for 4.14, image for 4.16, default channel
  v4.14/catalog.Dockerfile
  v4.14/catalog/orchestrator-operator/catalog.yaml
  v4.14/graph.yaml
  v4.15/catalog.Dockerfile
  v4.15/catalog/orchestrator-operator/catalog.yaml
  v4.15/graph.yaml
  v4.16/catalog.Dockerfile
Due: fbc-v4-14-on-pull-request, fbc-v4-14-on-push, fbc-v4-15-on-pull-request

added cel expression for push pipeline.
  .tekton/fbc-v4-13-push.yaml
  .tekton/fbc-v4-14-push.yaml
  .tekton/fbc-v4-15-push.yaml
  .tekton/fbc-v4-16-pull-request.yaml
  .tekton/fbc-v4-16-push.yaml
Due: none

remove stable-1.2 label for 4.16
  v4.16/catalog.Dockerfile
Due: none

fixed typo
  v4.16/catalog/orchestrator-operator/catalog.yaml
  v4.16/graph.yaml
Due: none

fixed cel expression for push pipeline
  .tekton/fbc-v4-13-push.yaml
  .tekton/fbc-v4-14-push.yaml
  .tekton/fbc-v4-15-push.yaml
  .tekton/fbc-v4-16-push.yaml
Due: none

fixed typo
  .tekton/fbc-v4-15-push.yaml
Due: none

update channel to stable
  v4.14/catalog.Dockerfile
  v4.14/catalog/orchestrator-operator/catalog.yaml
  v4.14/graph.yaml
  v4.15/catalog.Dockerfile
  v4.15/catalog/orchestrator-operator/catalog.yaml
  v4.15/graph.yaml
  v4.16/catalog.Dockerfile
  v4.16/catalog/orchestrator-operator/catalog.yaml
  v4.16/graph.yaml
Due: fbc-v4-14-on-pull-request, fbc-v4-14-on-push, fbc-v4-15-on-pull-request

update bundle image for 1-3
  v4.14/catalog/orchestrator-operator/catalog.yaml
  v4.14/graph.yaml
  v4.15/catalog/orchestrator-operator/catalog.yaml
  v4.15/graph.yaml
  v4.16/catalog/orchestrator-operator/catalog.yaml
  v4.16/graph.yaml
Due: fbc-v4-14-on-pull-request, fbc-v4-14-on-push, fbc-v4-15-on-pull-request

prod image bundle release
  v4.14/catalog/orchestrator-operator/catalog.yaml
  v4.14/graph.yaml
  v4.15/catalog/orchestrator-operator/catalog.yaml
  v4.15/graph.yaml
  v4.16/catalog/orchestrator-operator/catalog.yaml
  v4.16/graph.yaml
Due: fbc-v4-14-on-pull-request, fbc-v4-14-on-push, fbc-v4-15-on-pull-request

removed fbc task for 4.15
  .tekton/fbc-v4-15-pull-request.yaml
Due: fbc-v4-15-on-pull-request

removed sbom, inspect-image, fbc-validation, added validate-fbc for 4.15
  .tekton/fbc-v4-15-pull-request.yaml
Due: fbc-v4-15-on-pull-request

removed sbom-json-check, re-added sbom for 4.15
  .tekton/fbc-v4-15-pull-request.yaml
Due: fbc-v4-15-on-pull-request

testing migration for 4.15
  .tekton/fbc-v4-15-pull-request.yaml
Due: fbc-v4-15-on-pull-request

Revert "Removed fbc task for 4.15 according to migration"
  .tekton/fbc-v4-15-pull-request.yaml
Due: fbc-v4-15-on-pull-request

testing fbc changes
  .tekton/fbc-v4-15-pull-request.yaml
  .tekton/fbc-v4-15-push.yaml
Due: fbc-v4-15-on-pull-request

Revert "Removed deprecated FBC tasks"
  .tekton/fbc-v4-15-pull-request.yaml
  .tekton/fbc-v4-15-push.yaml
Due: fbc-v4-15-on-pull-request

updated bundle image to prod registry
  v4.13/catalog/orchestrator-operator/catalog.yaml
  v4.13/graph.yaml
  v4.14/catalog/orchestrator-operator/catalog.yaml
  v4.14/graph.yaml
  v4.15/catalog/orchestrator-operator/catalog.yaml
  v4.15/graph.yaml
Due: fbc-v4-14-on-pull-request, fbc-v4-14-on-push, fbc-v4-15-on-pull-request

removed deprecated sbom-json-check task from piplein
  .tekton/fbc-v4-13-pull-request.yaml
  .tekton/fbc-v4-13-push.yaml
  .tekton/fbc-v4-14-pull-request.yaml
  .tekton/fbc-v4-14-push.yaml
  .tekton/fbc-v4-15-pull-request.yaml
  .tekton/fbc-v4-15-push.yaml
  .tekton/fbc-v4-16-pull-request.yaml
  .tekton/fbc-v4-16-push.yaml
Due: fbc-v4-14-on-pull-request, fbc-v4-14-on-push, fbc-v4-15-on-pull-request

Enable hermetic builds
  .tekton/fbc-v4-13-pull-request.yaml
  .tekton/fbc-v4-13-push.yaml
  .tekton/fbc-v4-14-pull-request.yaml
  .tekton/fbc-v4-14-push.yaml
  .tekton/fbc-v4-15-pull-request.yaml
  .tekton/fbc-v4-15-push.yaml
  .tekton/fbc-v4-16-pull-request.yaml
  .tekton/fbc-v4-16-push.yaml
Due: fbc-v4-14-on-pull-request, fbc-v4-14-on-push, fbc-v4-15-on-pull-request

Update script to use new olm manifest formats to align with opm v1.47 to support OCP 4.17+
  .gitignore
  generate-fbc.sh
  opm_utils.sh
  v4.13/catalog.Dockerfile
  v4.13/catalog/orchestrator-operator/catalog.yaml
  v4.13/graph.yaml
  v4.14/catalog/orchestrator-operator/catalog.yaml
  v4.14/graph.yaml
  v4.15/catalog/orchestrator-operator/catalog.yaml
  v4.15/graph.yaml
  v4.16/graph.yaml
Due: fbc-v4-14-on-pull-request, fbc-v4-14-on-push, fbc-v4-15-on-pull-request

Update fbc-v4-15-push.yaml
  .tekton/fbc-v4-15-push.yaml
Due: none

Revert "Red Hat Konflux update fbc-v4-15"
  .tekton/fbc-v4-15-pull-request.yaml
  .tekton/fbc-v4-15-push.yaml
Due: fbc-v4-15-on-pull-request

updated quay repo for v4-16
  .tekton/fbc-v4-16-pull-request.yaml
  .tekton/fbc-v4-16-push.yaml
Due: none
