Repository rhdhorchestrator/orchestrator-fbc: changes, and which Tekton pipelines are due for each by the changed paths.
All: fbc-v4-14-on-pull-request, fbc-v4-14-on-push, fbc-v4-15-on-pull-request

fbc-v4-14-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/orchestrator-releng-tenant/fbc-v4-14/fbc-v4-14:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

fbc-v4-14-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/orchestrator-releng-tenant/fbc-v4-14/fbc-v4-14:{{revision}}
  - name: dockerfile
    value: catalog.Dockerfile
  - name: path-context
    value: v4.14
  ...

fbc-v4-15-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/orchestrator-releng-tenant/fbc-v4-15/fbc-v4-15:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

Updated prod bundle image version 1.4.0 in OCP v4.15
  v4.15/catalog/orchestrator-operator/catalog.yaml
  v4.15/graph.yaml
Due: fbc-v4-15-on-pull-request

Updated prod bundle image version 1.4.0 in OCP v4.14
  v4.14/catalog/orchestrator-operator/catalog.yaml
  v4.14/graph.yaml
Due: fbc-v4-14-on-pull-request, fbc-v4-14-on-push

Updated image mirror with prod registry
  .tekton/images-mirror-set.yaml
Due: none

Removed duplicate entry for 1.4.0 in v4.16
  v4.16/catalog/orchestrator-operator/catalog.yaml
  v4.16/graph.yaml
Due: none

Add target index pruning task for v4.17
  .tekton/fbc-v4-17-pull-request.yaml
  .tekton/fbc-v4-17-push.yaml
Due: none

Add target index pruning task for v4.16
  .tekton/fbc-v4-16-pull-request.yaml
  .tekton/fbc-v4-16-push.yaml
Due: none

Add target index pruning task for v4.15
  .tekton/fbc-v4-15-pull-request.yaml
  .tekton/fbc-v4-15-push.yaml
Due: fbc-v4-15-on-pull-request

Add target index pruning task for v4.14
  .tekton/fbc-v4-14-pull-request.yaml
  .tekton/fbc-v4-14-push.yaml
Due: fbc-v4-14-on-pull-request, fbc-v4-14-on-push

Add target index pruning task for v4.13
  .tekton/fbc-v4-13-pull-request.yaml
  .tekton/fbc-v4-13-push.yaml
Due: none

Red Hat Konflux update fbc-v4-18 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/fbc-v4-18-pull-request.yaml
  .tekton/fbc-v4-18-push.yaml
Due: none

Add FBC pipeline for v4.18
  .tekton/fbc-v4-18-pull-request.yaml
  .tekton/fbc-v4-18-push.yaml
Due: none

Add FBC for v4.18
  v4.18/catalog.Dockerfile
  v4.18/catalog/orchestrator-operator/catalog.yaml
  v4.18/devfile.yaml
  v4.18/graph.yaml
  v4.18/v4.18/.empty
Due: none

Add operator 1-5 bundle for v4.14
  v4.14/catalog/orchestrator-operator/catalog.yaml
  v4.14/graph.yaml
Due: fbc-v4-14-on-pull-request, fbc-v4-14-on-push

Add operator 1-5 bundle for v4.15
  v4.15/catalog/orchestrator-operator/catalog.yaml
  v4.15/graph.yaml
Due: fbc-v4-15-on-pull-request

Add operator 1-5 bundle for v4.16
  v4.16/catalog/orchestrator-operator/catalog.yaml
  v4.16/graph.yaml
Due: none

Add operator 1-5 bundle for v4.17
  v4.17/catalog/orchestrator-operator/catalog.yaml
  v4.17/graph.yaml
Due: none

Update registry operator 1-5 bundle for v4.18
  v4.18/catalog/orchestrator-operator/catalog.yaml
  v4.18/graph.yaml
Due: none

Update gitignore
  .gitignore
Due: none

Konflux build pipeline service account migration for fbc-v4-13 Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/fbc-v4-13-pull-request.yaml
  .tekton/fbc-v4-13-push.yaml
Due: none

Konflux build pipeline service account migration for fbc-v4-14 Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/fbc-v4-14-pull-request.yaml
  .tekton/fbc-v4-14-push.yaml
Due: fbc-v4-14-on-pull-request, fbc-v4-14-on-push

Konflux build pipeline service account migration for fbc-v4-15 Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/fbc-v4-15-pull-request.yaml
  .tekton/fbc-v4-15-push.yaml
Due: fbc-v4-15-on-pull-request

Konflux build pipeline service account migration for fbc-v4-16 Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/fbc-v4-16-pull-request.yaml
  .tekton/fbc-v4-16-push.yaml
Due: none

Konflux build pipeline service account migration for fbc-v4-17 Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/fbc-v4-17-pull-request.yaml
  .tekton/fbc-v4-17-push.yaml
Due: none

Konflux build pipeline service account migration for fbc-v4-18 Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/fbc-v4-18-pull-request.yaml
  .tekton/fbc-v4-18-push.yaml
Due: none

Add image-digest param as per konflux migration
  .tekton/fbc-v4-18-pull-request.yaml
  .tekton/fbc-v4-18-push.yaml
Due: none

Add image-digest param as per konflux migration for v4.17
  .tekton/fbc-v4-17-pull-request.yaml
  .tekton/fbc-v4-17-push.yaml
Due: none

Add image-digest param as per konflux migration for v4.16
  .tekton/fbc-v4-16-pull-request.yaml
  .tekton/fbc-v4-16-push.yaml
Due: none

Add image-digest param as per konflux migration for v4.15
  .tekton/fbc-v4-15-pull-request.yaml
  .tekton/fbc-v4-15-push.yaml
Due: fbc-v4-15-on-pull-request

Add image-digest param as per konflux migration for v4.14
  .tekton/fbc-v4-14-pull-request.yaml
  .tekton/fbc-v4-14-push.yaml
Due: fbc-v4-14-on-pull-request, fbc-v4-14-on-push

Add image-digest param as per konflux migration for v4.13
  .tekton/fbc-v4-13-pull-request.yaml
  .tekton/fbc-v4-13-push.yaml
Due: none

Add 1.5.1 bundle image for stage in 4.18
  v4.18/catalog/orchestrator-operator/catalog.yaml
  v4.18/graph.yaml
Due: none

Revert "Add 1.5.1 bundle image for stage in 4.18"
  v4.18/catalog/orchestrator-operator/catalog.yaml
  v4.18/graph.yaml
Due: none

Add 1.5.1 bundle image for prod in 4.18
  v4.18/catalog/orchestrator-operator/catalog.yaml
  v4.18/graph.yaml
Due: none

Add 1.5.1 bundle image for prod in 4.17
  v4.17/catalog/orchestrator-operator/catalog.yaml
  v4.17/graph.yaml
Due: none

Add 1.5.1 bundle image for prod in 4.16
  v4.16/catalog/orchestrator-operator/catalog.yaml
  v4.16/graph.yaml
Due: none

Add 1.5.1 bundle image for prod in 4.15
  v4.15/catalog/orchestrator-operator/catalog.yaml
  v4.15/graph.yaml
Due: fbc-v4-15-on-pull-request

Add 1.5.1 bundle image for prod in 4.14
  v4.14/catalog/orchestrator-operator/catalog.yaml
  v4.14/graph.yaml
Due: fbc-v4-14-on-pull-request, fbc-v4-14-on-push

Update 1.5.1 bundle image for prod in 4.16
  v4.16/catalog/orchestrator-operator/catalog.yaml
  v4.16/graph.yaml
Due: none

Update apply task for v4.14
  .tekton/fbc-v4-14-pull-request.yaml
  .tekton/fbc-v4-14-push.yaml
Due: fbc-v4-14-on-pull-request, fbc-v4-14-on-push

Path conditions:
  fbc-v4-14-on-pull-request: (any of: v4.14/***) or (any of: .tekton/fbc-v4-14-pull-request.yaml)
  fbc-v4-14-on-push: (any of: v4.14/***) or (any of: .tekton/fbc-v4-14-pull-request.yaml)
  fbc-v4-15-on-pull-request: (any of: v4.15/***) or (any of: .tekton/fbc-v4-15-pull-request.yaml)
